@media (max-width: 1200px) {

    /* .container {
        max-width: 1200px;
        padding: 0 50px;
    }

    /* header */

    .header {
        margin-bottom: 40px;
    }

    /* order */

    .order {
        margin-bottom: 40px;
    }

    .order__banner {
        padding: 160px 77px;
    }

    .order__title {
        font-size: 60px;
        margin-bottom: 16px;
    }

    .order__paragraph {
        font-size: 20px;
        margin-bottom: 60px;
    } */

    /* about */

    .about {
        margin-bottom: 80px;
    }

    .about__paragraph-text {
        margin-bottom: 60px;
    }

    .about__card-list {
        align-items: center;
        flex-direction: column;
    }

    .about__card-left {
        margin-bottom: 32px;
        max-width: 1200px;
        height: 640px;
        width: 100%;
    }

    .about__card-block-right {
        max-width: 1200px;
    }

    .about__card-item {
        padding: 65px 157px 65px 317px;
    }

    /* stage */

     .stage {
        margin-bottom: 80px;
     }

     .stage__paragraph {
        width: 100%;
        max-width: 512px;
     }

     .stage__image::after {
        max-width: 512px;
     }

     /* question  */

     .question {
        margin-bottom: 80px;
     }

     .question__card {
        flex-direction: column;
     }

     .question__card-item {
        width: 100%;
        max-width: 1200px;
     }

     .question__card-item:not(:last-child) {
        margin-bottom: 32px;
     }

     .question__paragraph {
        max-width: 936px;
     }

     .question__title-three {
         max-width: 936px;
     }

     /* footer  */

     .footer__shape {
        padding: 50px;
     }

     .footer__card-item:nth-child(3){
        display: none;
     }

     .footer__nav-shape {
        flex-basis: 25%;
     }

     .footer__form-shape {
        flex-basis: 50%;
     }

     .footer__submit {
        width: 240px;
        padding: 19px 37.5px;
     }
}
